@import "./styles/resets",
        "./styles/vendors",
        "./styles/mixins",
        "./styles/animations",
        "./styles/fonts",
        "./styles/typography",
        "./styles/variables",
        "./components/components",
        "./containers/containers";

* {
  box-sizing : border-box;
}

html {
  width     : 100%;
  height    : 100%;
  font-size : 100%;
}

body {
  width                  : 100%;
  min-width              : 768px;
  height                 : 100%;
  margin                 : 0;
  padding                : 0;
  color                  : #555459;
  overflow-x             : hidden;
  overflow-y             : hidden;
  background             : #fff;
  font-family            : "Lato",
                           Helvetica,
                           "Segoe UI",
                           Tahoma,
                           Arial,
                           sans-serif;
  font-size              : 1rem;
  -webkit-font-smoothing : antialiased;
  line-height            : 1rem;
  user-select            : none;
}

body:not(.loading) {
  position   : relative;
  min-height : 100%;
}

body:not(.loading) #client-ui {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  overflow : hidden;
}

body:not(.loading) #client-ui.flexbox_client {
  display        : flex;
  flex-direction : column;
}

body:not(.loading) #client-ui:after,
body:not(.loading) #client-ui:before {
  display : none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin      : 12px 0;
  color       : inherit;
  font-family : inherit;
  font-weight : 700;
  line-height : 24px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color       : #999;
  font-weight : 400;
  line-height : 1;
}

h1,
h2,
h3 {
  line-height : 48px;
}

h1 {
  font-size : 44px;
}

h2 {
  font-size : 36px;
}

h1 small,
h3 {
  font-size : 28px;
}

h2 small,
h4 {
  font-size : 20px;
}

h3 small,
h4 small,
h5 {
  font-size : 16px;
}

h6 {
  font-size : 13.6px;
}

a {
  color           : #08c;
  text-decoration : none;
}

a:focus,
a:hover {
  color           : #005580;
  text-decoration : underline;
}

a:focus {
  outline        : #333 dotted thin;
  outline        : -webkit-focus-ring-color auto 5px;
  outline-offset : -2px;
}

a:active,
a:hover {
  outline : 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display : block;
}

audio,
canvas,
video {
  display  : inline-block;
  *display : inline;
}

audio:not([controls]) {
  display : none;
}

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sup {
  top : -.5em;
}

sub {
  bottom : -.25em;
}

button,
input,
textarea {
  margin         : 0;
  vertical-align : middle;
  font-size      : 100%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding : 0;
  border  : 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance : button;
  cursor             : pointer;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label {
  cursor : pointer;
}

input[type=search] {
  box-sizing         : content-box;
  -webkit-appearance : textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance : none;
}

textarea {
  overflow : auto;
}

img {
  max-width              : 100%;
  height                 : auto;
  border                 : 0;
  vertical-align         : middle;
  -ms-interpolation-mode : bicubic;
}

.img-rounded {
  border-radius : 6px;
}

.img-polaroid {
  padding          : 4px;
  border           : 1px solid #ccc;
  border           : 1px solid rgba(0,0,0,.2);
  background-color : #fff;
  box-shadow       : 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
  border-radius : 500px;
}

small {
  font-size : 85%;
}

strong {
  font-weight : 700;
}

em {
  font-style : italic;
}

cite {
  font-style : normal;
}

address {
  display       : block;
  margin-bottom : 24px;
  font-style    : normal;
  line-height   : 24px;
}

.page_container {
  display   : flex;
  width     : 100%;
  height    : 100%;
  overflow  : hidden;
  flex-flow : column nowrap;
}

// App wide style

.brand__small {
  font-size      : 18px;
  font-weight    : bolder;
  letter-spacing : -1px;
}

.brand__medium {
  font-size      : 36px;
  font-weight    : bolder;
  letter-spacing : -2px;
}
