@import "./styles/resets",
        "./styles/vendors",
        "./styles/mixins",
        "./styles/animations",
        "./styles/fonts",
        "./styles/typography",
        "./styles/variables",
        "./components/components",
        "./containers/containers";

* {
  box-sizing : border-box;
}

html {
  width     : 100%;
  height    : 100%;
  font-size : 100%;
}

body {
  width                  : 100%;
  min-width              : 768px;
  height                 : 100%;
  margin                 : 0;
  padding                : 0;
  color                  : #555459;
  overflow-x             : hidden;
  overflow-y             : hidden;
  background             : #fff;
  font-family            : "Lato",
                           sans-serif;
  font-size              : 1rem;
  -webkit-font-smoothing : antialiased;
  line-height            : 1rem;
  user-select            : none;
}

body:not(.loading) {
  position   : relative;
  min-height : 100%;
}

body:not(.loading) #client-ui {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  overflow : hidden;
}

body:not(.loading) #client-ui.flexbox_client {
  display        : flex;
  flex-direction : column;
}

body:not(.loading) #client-ui:after,
body:not(.loading) #client-ui:before {
  display : none;
}

a {
  color           : #08c;
  text-decoration : none;
}

a:focus,
a:hover {
  color           : #005580;
  text-decoration : underline;
}

a:focus {
  outline        : #333 dotted thin;
  outline        : -webkit-focus-ring-color auto 5px;
  outline-offset : -2px;
}

a:active,
a:hover {
  outline : 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display : block;
}

audio,
canvas,
video {
  display  : inline-block;
  *display : inline;
}

audio:not([controls]) {
  display : none;
}

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 75%;
  line-height    : 0;
}

sup {
  top : -.5em;
}

sub {
  bottom : -.25em;
}

button,
input,
textarea {
  margin         : 0;
  vertical-align : middle;
  font-size      : 100%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding : 0;
  border  : 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance : button;
  cursor             : pointer;
}

button,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=reset],
input[type=submit],
label {
  cursor : pointer;
}

input[type=search] {
  box-sizing         : content-box;
  -webkit-appearance : textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance : none;
}

textarea {
  overflow : auto;
}

img {
  max-width              : 100%;
  height                 : auto;
  border                 : 0;
  vertical-align         : middle;
  -ms-interpolation-mode : bicubic;
}

.page_container {
  display   : flex;
  width     : 100%;
  height    : 100%;
  overflow  : hidden;
  flex-flow : column nowrap;
}

// App wide style

#app {
  width  : 100%;
  height : 100%;
}

.brand__small {
  font-size      : 18px;
  font-weight    : bolder;
  line-height    : 18px;
  letter-spacing : -1px;
}

.brand__medium {
  font-size      : 36px;
  font-weight    : bolder;
  line-height    : 36px;
  letter-spacing : -2px;
}
