.channel-status-icon {
  &--archived {
    display     : block;
    width       : 12px;
    float       : left;
    margin-top  : 1px;
    margin-right: 1px;
    text-align  : center;
    font-size   : .7rem;
    font-weight : 300;
    line-height : 1.5rem;
  }

  &--active {
    display     : block;
    width       : 12px;
    float       : left;
    margin-top  : 1px;
    margin-right: 1px;
    text-align  : center;
    font-size   : 1rem;
    font-weight : 300;
    line-height : 1.5rem;
  }
}
