.channel-status-icon {
  &--archived {
    display         : flex;
    width           : 15px;
    align-items     : center;
    font-size       : 0.8em;
    justify-content : center;
  }

  &--active {
    display         : flex;
    width           : 15px;
    font-weight     : 300;
    justify-content : center;
  }
}
