a,
a:link,
a:visited {
  color           : #2a80b9;
  text-decoration : none;
}

a:active,
a:focus,
a:hover {
  color : #005e99;
}

.italic {
  font-style : italic;
}

.normal {
  font-weight : 400!important;
}

small {
  font-size : 85%;
}

strong {
  font-weight : 700;
}

em {
  font-style : italic;
}

cite {
  font-style : normal;
}

address {
  display       : block;
  margin-bottom : 24px;
  font-style    : normal;
  line-height   : 24px;
}
