.attachment {
  display   : flex;
  position  : relative;
  max-width : 600px;
  margin    : 12px 0;

  &__bar {
    position         : absolute;
    top              : 0;
    bottom           : 0;
    width            : 4px;
    border-radius    : 8px;
    background-color : #e8e8e8;
  }

  &__body {
    display        : flex;
    margin-left    : 4px;
    padding        : 0 12px;
    font-size      : .9375rem;
    flex           : 1;
    flex-direction : column;
    line-height    : 1.375rem;
  }

  &__service {
    display        : inline-block;
    vertical-align : middle;
    font-size      : 0;
    line-height    : 0;

    &__icon {
      display        : inline-block;
      vertical-align : middle;
      font-size      : .9375rem;
      font-weight    : 400;
      line-height    : 1.375rem;

      img {
        position       : relative;
        top            : -2px;
        width          : 16px;
        height         : 16px;
        margin-right   : .4rem;
        border-radius  : 2px;
        vertical-align : middle;
      }
    }

    &__name {
      display        : inline-block;
      color          : #9e9ea6;
      vertical-align : middle;
      font-size      : .9375rem;
      font-weight    : 400;
      line-height    : 1.375rem;
    }

    &__author-name {
      &::before {
        content: '|';
        color: #e8e8e8;
        margin: 0 .4rem;
      }
    }
  }

  &__title {
    font-size   : .9375rem;
    font-weight : 700;
  }

  &__thumb {
    width        : 72px;
    padding-left : 12px;

    &__image-holder {
      width               : 60px;
      height              : 60px;
      float               : none;
      margin              : 0;
      border-radius       : 3px;
      background-position : center center;
      background-size     : cover;

      img {
        width   : 100%;
        height  : 100%;
        opacity : 0;
      }
    }
  }
}
