@import './Attachment/attachment';
@import './Message/message';

.day_container .day_msgs {
    margin: -18px 0 0;
    padding: 1.75rem 0 1.25rem;
    border-top: 1px solid #e8e8e8
}

.day_container.unread_day_container .day_msgs {
    border-color: #ff876d
}

.day_container:last-child .day_msgs {
    padding-bottom: 1.05rem
}
