$menu__background : #fff;

html.supports_flexbox #team_menu .team_name_container {
  display : flex;
}

#team_menu {
  z-index     : 50;
  display     : flex;
  position    : relative;
  width       : 220px;
  height      : 61px;
  float       : left;
  color       : #fff;
  background  : $user-menu__background;
  font-size   : 1rem;
  font-weight : 900;

  #team_name {
    max-width   : 9.12rem;
    font-size   : 1.125rem;
    line-height : 1.375rem;
  }

  #presence_container {
    position    : absolute;
    top         : 1.6875rem;
    left        : .8125rem;
    margin-top  : .09375rem;
    font-size   : .8125rem;
    line-height : 1.0625rem;

    #presence {
      display     : block;
      width       : 20px;
      height      : 21px;
      margin-top  : .09375rem;
      font-size   : .6125rem;
      line-height : 21px;
    }
  }

  #team_header_user_name {
    display     : block;
    max-width   : 100%;
    margin-top  : .1875rem;
    padding     : 0 .25rem 0 2rem;
    color       : #FFFFFF !important;
    opacity     : 0.6;
    font-size   : .875rem;
    font-weight : 400;
    line-height : 1.0625rem;
    transition  : opacity .2s ease 0s;
  }

  .team_name_container {
    margin-top    : .5625rem!important;
    margin-bottom : -2px;
    padding       : 0 1rem;
    font-weight   : 900;
    line-height   : 1.075rem;
  }

  .team_menu_toggle {
    @include           no-outline();
    @include           transition(all, 0.4s);
    z-index          : $z-index-top-higher;
    padding          : 0;
    color            : $side-bar__text--active;
    border           : none;
    background-color : $user-menu__background;
    flex             : 1;
    flex-direction   : column;

    &.open,
    &:focus,
    &:hover {
      background-color : $user-menu__background--hover;
      cursor           : pointer;

      #team_header_user_name {
        opacity : 1;
      }
    }

    &_info {
      @include   overflow-ellipsis();
      @include   subheading-font();
    }
  }

  .team_menu_dropdown {
    @include           transition();
    z-index          : $z-index-top;
    display          : flex;
    position         : absolute;
    top              : $side-bar__item__height * -2;
    left             : 0;
    width            : $side-bar__width;
    border           : 1px $user-menu__background--hover solid;
    background-color : $menu__background;
    flex-direction   : column;

    &.open {
      top : $header__height;
    }
  }

  .team_menu_item {
    @include      transition();
    @include      no-outline();
    @include      subheading-font();
    display     : flex;
    height      : $side-bar__item__height;
    padding     : 0 15px;
    color       : $user-menu__background--hover;
    border      : none;
    background  : none;
    align-items : center;
    cursor      : pointer;

    &:focus,
    &:hover {
      background-color : $user-menu__background--active;
    }
  }
}
